<dialog class="form-modal {{ footer_template }}" id="form-modal" aria-modal="true" aria-labelledby="form-modal-title">
	<div class="form-modal__inner">
		<button class="form-modal__close" aria-label="Close modal">
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L15 15M15 1L1 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			</svg>
		</button>

		<h4 class="form-modal__title" id="form-modal-title">Get in Touch</h4>

		<form class="form-modal__form" method="dialog" novalidate>
			<div class="form-modal__row">
				<div class="form-modal__field">
					<label for="modal-name">Name <span aria-hidden="true">*</span></label>
					<input type="text" id="modal-name" name="name" required placeholder="Your name">
				</div>

				<div class="form-modal__field">
					<label for="modal-email">Email <span aria-hidden="true">*</span></label>
					<input type="email" id="modal-email" name="email" required placeholder="your@email.com">
				</div>
			</div>

			<div class="form-modal__row">
				<div class="form-modal__field">
					<label for="modal-phone">Phone</label>
					<input type="tel" id="modal-phone" name="phone" placeholder="+1 (000) 000-0000">
				</div>

				<div class="form-modal__field">
					<label for="modal-company">Company</label>
					<input type="text" id="modal-company" name="company" placeholder="Your company">
				</div>
			</div>

			<div class="form-modal__field">
				<label for="modal-message">Message</label>
				<textarea id="modal-message" name="message" rows="4" placeholder="How can we help?"></textarea>
			</div>

			<button type="submit" class="btn btn-primary form-modal__submit">Send Message</button>
		</form>
	</div>
</dialog>
