@layer base {
  .nav {
    @apply absolute top-[1.5rem] left-0 right-0 z-[23];
    &__wrapper {
      @apply flex items-center justify-between;
      .template_b{
        .nav__logo {
        img {
          @apply w-[5.5336rem] h-[3.75rem] object-contain;
        }
      }
      }
      .nav__logo {
        img {
          @apply w-[5.5336rem] h-[5.75rem];
        }
      }

      .nav__menu {
        @apply flex gap-[2.5rem];

        a {
          @apply font-hanken;
          color: #fff;
          text-align: center;

          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 102%; /* 14.28px */
          letter-spacing: 1.68px;
          text-transform: uppercase;
        }
      }
    }
    &__item {
      @apply flex items-center justify-between w-full;
    }
  }
}
